<?xml version="1.0"?>
<launch>

  <arg name="depth_image_topic"/>
  <arg name="color_image_topic"/>
  <arg name="camera_info_topic"/>
  <arg name="cache_count" default="10"/>
  <arg name="slop" default="0.01"/>

  <node pkg="industrial_reconstruction" type="industrial_reconstruction_node.py" name="industrial_reconstruction" output="screen">
    <param name="depth_image_topic" value="$(arg depth_image_topic)"/>
    <param name="color_image_topic" value="$(arg color_image_topic)"/>
    <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
    <param name="cache_count" value="$(arg cache_count)"/>
    <param name="slop" value="$(arg slop)"/>
  </node>

</launch>
