<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro">
    <!-- Here we define the 2 parameters of the macro -->
    <xacro:macro name="end_effector" params="prefix connected_to">
        <!-- Create a fixed joint with a parameterized name. -->
        <joint name="${prefix}end_effector_joint" type="fixed">
            <!-- The parent link must be read from the robot model it is attached to. -->
            <parent link="${connected_to}" />
            <child link="${prefix}end_effector" />
            <!-- The tool is directly attached to the flange. -->
            <origin rpy="0 ${-pi/2} ${pi}" xyz="0 0 0" />
        </joint>
        <link name="${prefix}end_effector">
            <visual>
                <geometry>
                    <!-- The path to the visual meshes in the package. -->
                    <mesh
                        filename="package://ur10e_gripper_moveit_config/gripper_description/meshes/gripper_vi.stl" />
                </geometry>
                <material name="black">
                    <color rgba="${50/255} ${50/255} ${50/255} 1.0" />
                </material>
            </visual>
            <collision>
                <geometry>
                    <!-- The path to the collision meshes in the package. -->
                    <mesh
                        filename="package://ur10e_gripper_moveit_config/gripper_description/meshes/gripper_co.stl" />
                </geometry>
            </collision>
        </link>
        <!-- TCP frames -->
        <joint name="${prefix}gripper_joint" type="fixed">
            <origin xyz="0.03463 -0.05818 0.12491" rpy="-1.5707963267928968 0.0 -2.03156203267928968" />
            <parent link="${prefix}end_effector" />
            <child link="${prefix}gripper_tcp" />
        </joint>
        <link name="${prefix}gripper_tcp" />

    </xacro:macro>
</robot>